/* ---------------------------------
p-btn login logout等各種ボタンのスタイル
--------------------------------- */
.p-login{
    text-align: center;
    &__btn{
        color: white;
        background: #3196ef;
        font-size: 1.5rem;
        width: 20rem;
        height: 4.5rem;
        border-radius: 5px;
        margin-top: 2.0rem;
            @include mq(){
                width: 10rem;
            }
    }
}
